body {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

body, html, main {
  height: 100vh;
  width: 100%;
  font-family: 'Source Code Pro';
  font-weight: 200;
}

a:hover {
  color: #F75F63;
}

.flex {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.main {
  height: 100vh;
  position: relative;
  z-index: 1;
}

::selection {
  background: #F75F63;
}

.container{
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}

.intro {
  margin-top: 2.5%;
}

h3 {
  color: #2D2D2D;
  text-align: center;
}

.container p {
  color:#2D2D2D;
  font-size: 1rem;
}

.fixed-bg {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.fixed-bg2 {
  position: relative;
  min-height: 90vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;

}

.fixed-bg h1{
  position: absolute;
  top: 50%;
  bottom: auto;
  right: auto;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: #2D2D2D;
  text-transform: uppercase;
}

.fixed-bg h2 {
  color: #2D2D2D;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
}

.fixed.bg-color-0 {
  background: #F7F7F7;
}

.bg-texture {
  background-image: url("../img/texture2.jpg")
}



.scroll-bg {
  position: relative;
  min-height: 5vh;
  padding: 4em 0;
  line-height: 1.6;
  z-index: 2;
  box-shadow: 0 0 25px rgba(155, 155, 155, 0.25);
}

.scroll-bg.bg-color-1 {
  background-color: #fff;
  color: #2D2D2D;
}

@media only screen and (min-width: 768px) {
  .scroll-bg {
    padding: 8em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}

.flex {
  display: flex;
}

.avatar {
  max-width: 200px;
  height: auto;
  border-radius: 200px;
  margin: auto;
  -webkit-filter: grayscale(0.5);
  margin-bottom: 0;
}

.button {
  background: transparent;
  color: #ffffff;
  border-color: #ffffff;
  border: 2px solid;
  margin: auto;
  height: 30px;
  margin: 0px 3px 15px 3px;
  padding: 0 2rem;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 1.05rem;
  font-family: 'Source Code Pro';
}

.button:active {
  border-color: #997add;
  color: #997add;
}

.button:hover .button:active {
  border-color: #837d92;
  color: #837d92;
}

.work {
  float: left;
  margin-left: 5%;
  margin-top: 5%;
  border-bottom: 1px black solid;
  padding-right: 25%;
  padding-bottom: 1%;
  font-weight: 500;
}

.clients {
  width:90%;
  margin: auto;
}

th {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: 500;
}

td {
  padding: 10px 0 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  top: 0;
  z-index: 100;

}

li {
  display: inline;
  margin: inherit !important;
  padding: 10px !important;
}

.nav {
  margin-top: 1%;
  right: 0;
  margin-right: 2.5%;
}

footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  z-index: 2;
  height: 10vh;
  background: none repeat 0% 0% #fff;
  color: #2D2D2D;
  text-align: center;
  box-shadow: 0 0 25px rgba(155, 155, 155, 0.25);
}

footer ul {
  margin: auto;
  font-size: .8rem;

}
